a{
    text-decoration: none;
    color: black;
  }

body{
    background-color: #7ecf89;
    font-family: 'Raleway', sans-serif;
    color: rgb(4, 15, 2);
}
.header{
    color: black;
    font-size: 50px;
    background-color: white;
}

#graficlogo{
    width: 330px ;
}
#topnav{
    background-color: #3b9b6e;
}

#topnav a{
    color: white;
    text-decoration: none;
}

#topnav a:hover{
    border-bottom: 2px solid white;
}

#my_footer{
    background-color: white;
    color: black;
}

#my_link {
    background-color: whitesmoke;
}

#my_link a{
    color:black;
}

.container-slide{
    max-width: 1205px;
    margin: 20px auto;
}
